.main{
  font-size: 6rem;
  text-align: center;
  width: 100%;
  line-height: 200px;
  color: #fcedd8;
  background: #c2303e;
   font-family: 'Niconne', cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #c11a2b, 
              35px 35px 0px #c11a2b, 
              40px 40px 0px #c11a2b, 
              45px 45px 0px #c11a2b;
}
